body {
    background-color:powderblue;
}
.main {
    text-align:center;   
}
.BUT {
    color:#009900;
    font-size:50px;
    font-weight:bold;
}
#External {
    font-style:bold;
    font-size:20px;
}